<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Documentation for this is here: https://github.com/logstash/logstash-logback-encoder -->
    <appender name="jsonstdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" >
            <providers>
                <timestamp/>
                <logLevel/>
                <logLevelValue/>
                <message/>
                <loggerName><shortenedLoggerNameLength>36</shortenedLoggerNameLength></loggerName>
                <threadName/>
                <mdc/>
                <logstashMarkers/>
            </providers>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="jsonstdout" />
    </root>
</configuration>
